@charset "UTF-8";
:root {
  /* Layout */
  --container-width: 115.2rem;
  --padding-inline: 14.4rem;
  --gutter: 2.4rem;
  /* Colors */
  /* Neutral  */
  --color-text: #18191F;
  --color-black: #263238;
  --color-d_grey: #4d4d4d;
  --color-grey: #717171;
  --color-l_grey: #89939E;
  --color-grey-blue: #ABBED1;
  --color-silver: #f5f7fa;
  --color-white: #FFFFFF;
  /*Primary */
  --color-primary: #4CAF4F;
  --color-secondary: #263238;
  --color-info: #2194f3;
  /*Color Shade */
  --color-shade-1: #43A046;
  --color-shade-2: #388E3B;
  --color-shade-3: #237D31;
  --color-shade-4: #1B5E1F;
  --color-shade-5: #103E13;
  /*Color Tint */
  --color-shade-1: #66BB69;
  --color-shade-2: #81C784;
  --color-shade-3: #A5D6A7;
  --color-shade-4: #C8E6C9;
  --color-shade-5: #E8F5E9;
  /*Action */
  --color-warning: #FBC02D;
  --color-error: #E53835;
  --color-success: #2E7D31;
  /* End Colors */
  /* Shadows */
  --shadow-2px: #ABBED1 (60%);
  --shadow-4px: #ABBED1 (40%);
  --shadow-6px: #ABBED1 (30%);
  --shadow-8px: #ABBED1 (40%);
  --shadow-16px: #ABBED1 (30%);
  /* Typography  */
  /* Fonts */
  --font-family-raleway: "Raleway", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-size-70: 7rem;
  --font-size-64: 6.4rem;
  --font-size-40: 4rem;
  --font-size-48: 4.8rem;
  --font-size-36: 3.6rem;
  --font-size-28: 2.8rem;
  --font-size-24: 2.4rem;
  --font-size-22: 2.2rem;
  --font-size-20: 2rem;
  --font-size-18: 1.8rem;
  --font-size-16: 1.6rem;
  --font-size-15: 1.5rem;
  --font-size-14: 1.4rem;
  --line-height-76: 7.6rem;
  --line-height-44: 4.4rem;
  --line-height-36: 3.6rem;
  --line-height-28: 2.8rem;
  --line-height-24: 2.4rem;
  --line-height-22: 2.2rem;
  --line-height-20: 2rem;
  /* Transitions */
  --transition-timing: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-16);
  color: var(--Color-text);
  background-color: var(--Color-Silver);
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: calc(var(--container-width) + var(--gutter) * 2);
  padding-inline: var(--gutter);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.2rem;
}
.main-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
}
.main-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-d_grey);
}

p {
  color: var(--color-grey);
}

.header {
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: var(--color-background);
  z-index: 1;
}

/* Navigation */
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-block: 3rem;
  /* ✅ */
}
.navigation__list, .navigation__button {
  display: flex;
  gap: 2rem;
}
.navigation__list {
  color: var(--color-text);
  font-weight: var(--font-weight-semi-bold);
}
.navigation__link {
  text-decoration: none;
}
.navigation__link:hover, .navigation__link:active {
  color: var(--color-primary);
}
.navigation__button-login, .navigation__button-signup {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
.navigation__button-login:active, .navigation__button-signup:active {
  transition: calc(var(--transition-timing) - 0.2s);
}
.navigation__button-login {
  background-color: var(--color-white);
  color: var(--color-primary);
}
.navigation__button-login:active {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.navigation__button-signup {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.navigation__button-signup:active {
  color: var(--color-primary);
  background-color: var(--color-white);
}

.burger-menu__checkbox {
  display: none;
}

/* Login and Sign-up */
.home {
  display: grid;
  -moz-column-gap: 10.4rem;
       column-gap: 10.4rem;
  row-gap: 0;
  grid-template-columns: repeat(2, 1fr);
  padding-block: 9.6rem;
  position: relative;
}
.home__content {
  width: 65.7rem;
  align-self: center;
}
.home__title {
  font-size: var(--font-size-64);
  line-height: var(--line-height-76);
  font-weight: var(--font-weight-bold);
}
.home__title span {
  color: var(--color-primary);
}
.home__description {
  font-size: var(--font-size-16);
  margin-top: 1.6rem;
}
.home__button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.4rem;
  line-height: var(--line-height-24);
  font-weight: var(--font-weight-medium);
  padding: 1.4rem 3.2rem;
  margin-top: 3.2rem;
}
.home__pic {
  display: inline-block;
  width: 100%;
  height: auto;
}
.home__dots {
  display: flex;
  justify-content: space-between;
  position: absolute;
  justify-self: center;
  width: 4.6rem;
  height: 1rem;
  bottom: 1.6rem;
  border-radius: 100%;
}
.home__dots-dot1 {
  background-color: var(--color-primary);
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
}
.home__dots-dot2 {
  background-color: var(--color-primary);
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  opacity: 30%;
}
.home__dots-dot3 {
  background-color: var(--color-primary);
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  opacity: 30%;
}

.service {
  width: 100%;
  justify-items: center;
}
.service__content {
  margin-bottom: 1.6rem;
}
.service__title {
  font-size: var(--font-size-36);
  line-height: var(--line-height-44);
  font-weight: var(--font-weight-bold);
  justify-self: center;
}
.service__description {
  line-height: var(--line-height-24);
  margin-top: 0.8rem;
}
.service__clients {
  display: flex;
  justify-content: space-between;
  padding-block: 2.5rem;
  width: 100%;
}

.feature {
  width: 100%;
}
.feature__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.6rem;
}
.feature__title {
  font-size: var(--font-size-36);
  line-height: var(--line-height-44);
  font-weight: var(--font-weight-bold);
  text-align: center;
}
.feature__description {
  line-height: var(--line-height-24);
}
.feature__cards {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.feature__cards-card {
  width: 29.9rem;
  justify-items: center;
  padding: 2.4rem 3.2rem;
  text-align: center;
}
.feature__cards-card-title {
  font-size: var(--font-size-28);
  line-height: var(--line-height-36);
  font-weight: var(--font-weight-bold);
  text-align: center;
}
.feature__cards-card-description {
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
  margin-top: 0.8rem;
}

.product {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 4.9rem;
}
.product__img {
  width: 44.1rem;
}
.product__content h3 {
  font-size: var(--font-size-36);
  line-height: var(--line-height-44);
  font-weight: var(--font-weight-bold);
}
.product__content p {
  line-height: var(--line-height-24);
  margin-top: 0.8rem;
}
.product__content button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.4rem;
  line-height: var(--line-height-24);
  font-weight: var(--font-weight-medium);
  padding: 1.4rem 3.2rem;
  margin-top: 3.2rem;
}

.achievement {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.achievement__content {
  width: 54rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-self: center;
}
.achievement__title {
  font-size: var(--font-size-36);
  line-height: var(--line-height-44);
  font-weight: var(--font-weight-bold);
}
.achievement__title span {
  color: var(--color-primary);
}
.achievement__description {
  line-height: var(--line-height-24);
  color: var(--color-text);
}
.achievement__statistics {
  width: 54rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem 3rem;
}

.statistic {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.6rem;
}
.statistic__content-title {
  font-size: var(--font-size-28);
  line-height: var(--line-height-36);
  font-weight: var(--font-weight-bold);
}
.statistic__content-description {
  line-height: var(--line-height-24);
}

.calendar {
  width: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 4.9rem;
}
.calendar__img {
  width: 44.1rem;
}
.calendar__content h3 {
  font-size: var(--font-size-36);
  line-height: var(--line-height-44);
  font-weight: var(--font-weight-bold);
}
.calendar__content p {
  line-height: var(--line-height-24);
  margin-top: 0.8rem;
}
.calendar__content button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.4rem;
  line-height: var(--line-height-24);
  font-weight: var(--font-weight-medium);
  padding: 1.4rem 3.2rem;
  margin-top: 3.2rem;
}

.customer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7.8rem;
  padding-block: 3.2rem;
}
.customer__img img {
  width: 32.6rem;
}
.customer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
.customer__content__info {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.customer__content__info_1-des {
  line-height: var(--line-height-24);
}
.customer__content__info_2 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.customer__content__info_2-name {
  font-size: var(--font-size-20);
  line-height: var(--line-height-28);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary);
}
.customer__content__info_2-company {
  line-height: var(--line-height-24);
  color: var(--color-l_grey);
}
.customer__content__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.2rem;
}
.customer__content__logo-1 {
  display: flex;
  gap: 4.1rem;
}
.customer__content__logo-meet {
  font-size: var(--font-size-20);
  line-height: var(--line-height-28);
  color: var(--color-primary);
}
.customer__content__logo-meet-arrow {
  margin-left: 0.8rem;
}

.community__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.community__heading-title {
  font-size: var(--font-size-36);
  line-height: var(--line-height-44);
  font-weight: var(--font-weight-bold);
}
.community__heading-description {
  width: 62.8rem;
  line-height: var(--line-height-24);
  text-align: center;
}
.community__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2.3rem;
  margin-top: 1.6rem;
}
.community__content__card {
  position: relative;
  width: 36.8rem;
  height: 36.6rem;
}
.community__content__card__info {
  position: absolute;
  top: 190px;
  left: 25.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem;
  background-color: var(--color-silver);
  text-align: center;
  width: 31.7rem;
  border-radius: 0.8rem;
  box-shadow: 0px 6px 9px 0px #abbed1;
}
.community__content__card__info-title {
  font-size: var(--font-size-20);
  line-height: var(--line-height-28);
}
.community__content__card__info-link {
  color: var(--color-primary);
  padding: 0.8rem;
  font-weight: var(--font-weight-bold);
}
.community__content__card__info-link span {
  margin-left: 0.8rem;
}

.getdemo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 3.2rem;
  margin-top: 9.46rem;
  padding: 3.2rem;
}
.getdemo-title {
  font-size: var(--font-size-64);
  line-height: var(--line-height-76);
  font-weight: var(--font-weight-semibold);
  color: var(--color-black);
}
.getdemo-link {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.4rem;
  line-height: var(--line-height-24);
  font-weight: var(--font-weight-medium);
  padding: 1.4rem 3.2rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--color-black);
  padding: 6.4rem 16.4rem;
}
.footer__left {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 4rem;
}
.footer__left-logo {
  width: 19.1rem;
}
.footer__left-info {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer__left-copyright {
  color: var(--color-silver);
}
.footer__left__social {
  display: flex;
  gap: 1.6rem;
}
.footer__left__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-d_grey);
  border-radius: 100%;
  width: 3.2rem;
  height: 3.2rem;
}
.footer__left__social img {
  align-self: center;
  align-items: center;
  align-content: center;
  -webkit-text-decoration: center;
          text-decoration: center;
  text-align: center;
}
.footer__right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  width: 63.5rem;
}
.footer__right__col {
  width: 16rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  color: var(--color-silver);
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
}
.footer__right__col-3 {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.footer__right__col-title {
  color: var(--color-white);
  font-size: var(--font-size-20);
  line-height: var(--line-height-28);
}
.footer__right__col-lists {
  width: 16rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.footer__right__col__form {
  position: relative;
}
.footer__right__col__form-input {
  width: 22.5rem;
  padding: 1.1rem;
  background-color: var(--color-d_grey);
  color: var(--color-white);
  border: none;
  border-radius: 0.8rem;
  font-size: var(--font-size-14);
}
.footer__right__col__form-input::-moz-placeholder {
  color: #D9DBE1;
}
.footer__right__col__form-input::placeholder {
  color: #D9DBE1;
}
.footer__right__col__form-icon {
  position: absolute;
  top: 35%;
  left: 20.5rem;
  transform: translate(-50%, -50%);
}

@media (max-width: 1000px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 800px) {
  .container {
    row-gap: 8rem;
  }
  .section {
    grid-template-columns: 1fr;
  }
  .bio__pic-content {
    grid-row: 1;
    justify-self: center;
    margin-bottom: 4rem;
  }
  .skills__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects__main {
    grid-template-columns: 1fr;
    row-gap: 6rem;
    justify-items: center;
  }
  .projects__data:nth-of-type(2) {
    order: 1;
  }
  .clients__opinions {
    font-size: var(--font-size-24);
  }
  .contact {
    row-gap: 6rem;
  }
  .contact__formContent {
    order: -1;
  }
}
@media (max-width: 500px) {
  .bio__pic {
    width: 100%;
  }
  .header {
    padding: 0;
  }
  .header::before {
    z-index: 0;
  }
  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    z-index: 0;
    align-self: center;
    cursor: pointer;
  }
  .burger-menu__bar {
    height: 0.3rem;
    width: 4.375rem;
    background-color: var(--color-text);
    transition: var(--transition-timing);
  }
  .burger-menu__checkbox:checked + .navigation {
    top: 100%;
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(1) {
    transform: translateY(10px) rotate(40deg);
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  .header:has(.burger-menu__checkbox:checked) .burger-menu__bar:nth-child(3) {
    transform: translateY(-7px) rotate(-40deg);
  }
  .navigation {
    position: absolute;
    padding: 3rem 0;
    width: 100%;
    top: 0;
    border-bottom: 0.1rem solid var(--color-text);
    z-index: -1;
    width: 100vw;
  }
  .navigation__list {
    justify-content: center;
  }
  .toggle {
    padding: 3rem 0;
    z-index: 1;
  }
}/*# sourceMappingURL=style.css.map */