html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-16);
    color: var(--Color-text);
    background-color: var(--Color-Silver);
    overflow-x: hidden;
    // padding-inline: 11.4rem;
}

.container {
    margin: 0 auto;
    max-width: calc(var(--container-width) + var(--gutter)* 2);
    padding-inline: var(--gutter);

}

.main {
    &-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4.2rem;
    }

    &-1 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    &-2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4.8rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-d_grey);
}

p {
    color: var(--color-grey);
}

// .button {
//     background-color: var(--color-primary);
//     color: var(--color-white);
//     border-radius: 0.4rem;
//     line-height: var(--line-height-24);
//     font-weight: var(--font-weight-medium);
//     padding: 1.4rem 3.2rem;
// }

// .section {}