.product {
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 4.9rem;

    &__img {
        width: 44.1rem;
    }

    &__content {

        & h3 {
            font-size: var(--font-size-36);
            line-height: var(--line-height-44);
            font-weight: var(--font-weight-bold);
        }

        & p {
            line-height: var(--line-height-24);
            margin-top: 0.8rem;
        }

        & button {
            background-color: var(--color-primary);
            color: var(--color-white);
            border-radius: 0.4rem;
            line-height: var(--line-height-24);
            font-weight: var(--font-weight-medium);
            padding: 1.4rem 3.2rem;
            margin-top: 3.2rem;
        }
    }
}